{
  "bracketSpacing": true,
  "endOfLine": "auto",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "trailingComma": "all",
  "jsxSingleQuote": false
}
