# Ignore artifacts:
build
coverage

# Directories
**/node_modules
**/__generated
.idea
.next

# Files
*.env
*.log
npm-debug.log*
pnpm-lock.yaml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE.md
README.md
SECURITY.md
SUPPORT.md
SUPPORT.md