name: ost

services:

  business-db:
    image: postgres:17
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${BUSINESS_DB_USER}
      - POSTGRES_PASSWORD=${BUSINESS_DB_PASSWORD}
      - POSTGRES_DB=${BUSINESS_DB_NAME}
    ports:
      - "${BUSINESS_DB_PORT}:5432"
    volumes:
      - business_db_data:/var/lib/postgresql/data
    networks:
      - app_network
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${BUSINESS_DB_USER} -d ${BUSINESS_DB_NAME}",
        ]
      interval: 5s
      timeout: 5s
      retries: 5

  supertokens:
    image: registry.supertokens.io/supertokens/supertokens-postgresql:10.1.0
    environment:
      - POSTGRESQL_CONNECTION_URI=postgresql://${SUPERTOKENS_DB_USER}:${SUPERTOKENS_DB_PASSWORD}@supertokens-db:5432/${SUPERTOKENS_DB_NAME}
    ports:
      - "3567:3567"
    networks:
      - app_network
    restart: unless-stopped
    depends_on:
      supertokens-db:
        condition: service_healthy
    healthcheck:
      test: >
        bash -c 'exec 3<>/dev/tcp/127.0.0.1/3567 && echo -e "GET /hello HTTP/1.1\r\nhost: 127.0.0.1:3567\r\nConnection: close\r\n\r\n" >&3 && cat <&3 | grep "Hello"'
      interval: 10s
      timeout: 5s
      retries: 5

  supertokens-db:
    image: postgres:17
    environment:
      - POSTGRES_USER=${SUPERTOKENS_DB_USER}
      - POSTGRES_PASSWORD=${SUPERTOKENS_DB_PASSWORD}
      - POSTGRES_DB=${SUPERTOKENS_DB_NAME}
    ports:
      - "${SUPERTOKENS_DB_PORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app_network
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${SUPERTOKENS_DB_USER} -d ${SUPERTOKENS_DB_NAME}",
        ]
      interval: 5s
      timeout: 5s
      retries: 5

  migrate:
    build:
      context: .
      dockerfile: Dockerfile
    command: [
      "npx", "prisma", "db", "push", "--schema=/app/schema/schema.prisma", "--skip-generate"
    ]
    environment:
      - DATABASE_URL=postgresql://${BUSINESS_DB_USER}:${BUSINESS_DB_PASSWORD}@business-db:5432/${BUSINESS_DB_NAME}?schema=public
    depends_on:
      business-db:
        condition: service_healthy
    networks:
      - app_network

volumes:
  business_db_data:
  db_data:

networks:
  app_network:
    driver: bridge
